/* groundwork sass */
// @import "groundwork/groundwork.sass"

.suckless-complete

  ul
    background-color: $background-color
    border: 1px solid $border-color
    +rounded($default-radius)

    li
      padding: .4em

      &:first-child
        +rounded($default-radius $default-radius 0 0)

      &:last-child
        +rounded(0 0 $default-radius $default-radius)

      &:first-child:last-child
        +rounded($default-radius)

      &.selected
        background-color: $selection-color

      &:hover
        background-color: lighten($selection-color, 27.5%)
